# PyCharm / JetBrains
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Build outputs
build/
dist/
*.spec

# Pytest temporary work dirs
pytest_tmp/
.pytest_tmp/